.logo-image{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeIn 1.2s;
}

.name{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeInSlide 1s;
}

.profession{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeInSlide 1s;
}
