@keyframes fadeIn{
    0%{
        opacity:0;
        transform: scale(1.5);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes fadeInSlide{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    60%{
        transform:translateX(-10px);
    }
    100%{
        transfrom:translateX(0px);
        opacity:1;
    }

}


.logo-image{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeIn 1.2s;
}

.name{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeInSlide 1s;
}

.profession{
    animation:cubic-bezier(0.2, 0.51, 0.66, 1.14) fadeInSlide 1s;
}